.container{
    padding-top: 120px;

}

.menu-heading{
    text-align: center;
    
    .badge{
        background-color: #ea862e;
    }
}

.menu{
    margin-bottom: 10px;
   text-align: center;
    
    ul{
         display: inline-block;
    }
}