<% include common/header.ejs %>

   

<div class="all-page">
        
        <div class="order-form" id="div-order">
    <div class="client-info">
                <div class="contact">
                   <h3> Контактні дані  </h3>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal " data-toggle="validator">
                            <div class="form-group name-group">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                    <input class="form-control has-success" type="text" id="inputName" placeholder="Ім’я, Прізвище">
                                </div>
                            <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                            </div>
                            <div class="form-group phone-group">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input  class="form-control" type="text" id="inputPhone" placeholder="+380931112233">
                                </div>
                            <span class="phone-help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                            </div>
                            <div class="form-group address-group">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                                </div>
                            <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                            </div>
                        </form> 
                        
                    </div>
                    <div class="col-md-5">
                        <div class="order-summary">
                            <h4>Інформація про замовлення</h4>
                            <p class="delivery-time">
                                <b>Приблизний час доставки:</b> невідомий
                            </p>
                            <p class="delivery-adress">
                                <b>Адреса доставки:</b> невідома
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group next-step-wrap">
                        <div class="next-step-width">
                            <button  type="button" class="btn btn-warning btn-block next-button">
                                Далі
                                <i class="glyphicon glyphicon-chevron-right icon-white">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="google-maps" id="googleMap"></div>
    
    </div>
        <div class="order">
            <div class="top-order">
                <div class="order-heading">
                    Замовлення <span class="badge" id="count"></span>
                </div>
            </div>

            <div id="cart" class="creating-order">
       
            </div>
            
             <div class="bottom-order-buy hidden">
                    <div class="heading">Сумма замовлення:</div>
                        <div class="sum-info" >
                            <div class="sum" id="sum"></div>
                  <div class="currency"> грн.</div></div>
                <a class="btn btn-default edit" href="/index.html">
                        Редагувати замовлення
                    </a>
                </div>
        </div>  
    </div>
    
    
<div id="liqpay"></div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCpeUtPil0cNFD_7KzBb8s0FqrO5qBV9f4">
</script>
 
<script src="//static.liqpay.com/libjs/checkout.js"> </script>
<% include common/footer.ejs %>
