<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>
     <meta charset="UTF-8"><!-- Bootsrap CSS -->
    <link href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    rel="stylesheet"><!-- LESS основний файл -->
    <link href="assets/less/main.less" rel="stylesheet/less" type="text/css">
    <!-- LESS JavaScript компілятор -->
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js">
    </script>
    
    
</head>
<body>
    <div class="top-header background-header"></div>
    <div class="top-header">
        <div class="brand-logo">
        <div class="lower">
            PIZZA
        </div>
        <div class="upper">
            KMA
        </div><img src="assets/images/discount.svg"></div>
        <div class="top-row">
            <div class=
            "info-telephone visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            (044) 222 5 222
            </div>
            <div class=
            "info-worktime visible-md-inline-block visible-lg-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="info-delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div class="btn btn-warning log">
                Ввійти
            </div>
        </div>
        <div class="bottom-row">
            <div class=
            "gopizza visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            <a href="index.html">Піца</a>
            </div>
        </div>
    </div>
